<div class="pb-2 mt-2 mb-4 border-bottom">
  <h3>{{{__ "html.product.createHeader"}}}</h3>
  <form action="/product/create" method="POST">
    <input type="hidden" name="_csrf" value="{{_csrf}}">
    <div class="form-group row">
      <label for="name" class="col-md-3 col-form-label font-weight-bold text-right">
        {{{__ "productParams.name"}}}
      </label>
      <div class="col-md-7">
        <input type="text" name="name" id="name" autocomplete="product name" minlength="2" required
          class="form-control">
      </div>
    </div>
    <div class="form-group row">
      <label for="name" class="col-md-3 col-form-label font-weight-bold text-right">
        {{{__ "productParams.description"}}}
      </label>
      <div class="col-md-7">
        <textarea type="text" name="description" id="description" autocomplete="product description" minlength="2" required
          class="form-control"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="offset-sm-3 col-md-7 pl-2">
        <button type="submit" class="btn btn-primary">
          <i class="fas fa-lock fa-sm"></i>{{{__ "create"}}}
        </button>
      </div>
    </div>
  </form>
</div>